body {
  padding-top:50px;
}

#searchdiv{
	margin-top:50px;
	text-align: center;
}

#searchdiv h1{
	margin-right:12%;
	font-family: 'Georgia';
}

#brand{
	font-family: 'Georgia';
	font-size:200%;
	margin-bottom:-15px;
}

#searchbutton{
	width: 150px;
	color: rgba(0, 178, 179, 1);
	font-weight: bold;
	font-size:120%;
	background-color:#ffffe1;
}

#searchbutton:hover{
	background-color: #ffff99;
}

.form-horizontal{
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
}

#tvpic{
	margin-left:-10px;
	margin-right:10px;
	margin-top:7px;
}

.navbar{
	background-color:rgba(156, 226, 227, 1); 
	border-bottom:3px outset rgba(0, 178, 179, 1);
	border-right:2px outset rgba(0, 178, 179, 1);
	border-left:2px outset rgba(0, 178, 179, 1);
	border-top:1px outset rgba(0, 178, 179, 1);
}
#tvpic{
	margin-left:-10px;
	margin-right:10px;
}

#navlink1, #navlink2{
	font-family: 'Times New Roman';
	color:black;
	font-size:180%;
	padding-left:100px;
	margin-top:10px;
}

#navbar a:hover{
	color:white;
}

.offline-message{
	margin-left:-50px;
	color:#8C1C1C;
	font-weight:bold;
}

